.gold-border {
  border-bottom: 1px solid #C5A044 !important;
}
.gold-top-border {
  border-top: 1px solid #C5A044 !important;
}
.text-gold {
  color: #C5A044 !important;
}
.dark-color {
  background-color: #111111 !important;
}